<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Image Colorisation using Neural Network</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />     
<style>
    #main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .image-container {
        width:100%; 
        padding: 1rem;
    }
</style>   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
<p><h1 align="center">Image Colorisation using Neural Networks</h1></p>
<div class="container">
<div class="row">
    <h2>Select a file to upload</h2>
    <form method="post" action="/" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" name="file" class="form-control" autocomplete="off" required>
            </p>
        </dl>
        <p>
            <input type="submit" value="Submit" class="btn btn-info">
        </p>
    </form>
    <!-- <p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </p> -->
    {% if filename %}
        <div style="width:100%;" id="main">
            <div class="image-container">
                <h3>Input Image: </h3>
                <img src="{{ url_for('display_image', filename=filename) }}" style="width:100%;">
            </div>
            <div class="image-container">
                <h3>ECCV16 Model Output: </h3>
                <img src="{{ url_for('display_eccv', output_eccv=output_eccv) }}" style="width:100%;">
            </div>
            <div class="image-container">
                <h3>SIGGRAPH17 Model Output: </h3>
                <img src="{{ url_for('display_sigg', output_sigg=output_sigg) }}" style="width:100%;">
            </div>
        </div>
    {% endif %}
</div>
</div>
</body>
</html>